.title_font{
    color: rgb(128, 128, 128);
    font-size: 20px;
    padding: 3px;
}
.bg-cover {
    background-size: cover !important;
}
.header{
    border-style: solid;
    border-width: 7px;
    border-color: rgb(128, 128, 128);
    color:rgb(128, 128, 128);
}
.h1{
    padding-bottom: 25px;
}
.outline{
    background-color: rgb(246, 240, 228);
    border-style: solid;
    border-color: rgb(246, 240, 228);
    padding: 25px;
}
.body{
    background-color: rgb(246, 240, 228);;
}
.button_style{
    background-color: rgb(128, 128, 128); 
    border: none;
    color: white;
}
.button_style2{
    background-color: rgb(146, 86, 86); 
    border: none;
    color: white;
}
.button_style3{
    background-color: rgb(204, 152, 118); 
    border: none;
    color: white;
}
.navbar{
    margin: 20px;
    border-radius: 10px;
}
.nav-link{
    color:white;
    font-weight: 500;
}

a:hover {
    color: rgb(146, 86, 86);
}
.col-form-label {
    color:rgb(128, 128, 128);
    font-weight: 500;
}
.form-control {
    border: transparent;
    padding-left:20px;
    border-radius: 6px;

}
.btn-secondary {
    border-color: transparent;
}